/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
    
    background: #6FD4FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #6FD4FF, #FFD28E);; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #6FD4FF, #FFD28E);; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #6FD4FF, #FFD28E);; /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #6FD4FF, #FFD28E);; /* Standard syntax */

     border: none;

     padding: 20px;
     font-family: Arial, sans-serif;
}

.thumbnail {
     border: none;
     background-color: rgba(0,0,0,0);
}

p {
     color: #FFF;
}

h2 {
     color: #000;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.4;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

